body {
    font-family: cursive;
    margin: 0px;
    padding: 0px;
}

header {
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 10px;
    font-size: larger;

}
header > h1 {
    font-weight: bolder;
    font-size: 80px;
    margin-bottom: 8px;
}

p {
    margin-left: 20px;
} 

section {
    height: 300px;
    padding-bottom: 40px;
}

article {
    max-width: 200px;
    text-align: left;
    font-family: cursive;
    margin: 20px;
}
article.box {
    display: block;
    background-color: rgba(3, 3, 3, 0.5);
}

article.box > p {
    margin: 20px;
}

section.back1 {
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: right center;
    color: white;
    padding-top: 40px;
    background-attachment: fixed;
}

section.back2 {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-position: right center;
    color: white;
    padding-top: 40px;
    background-attachment: fixed;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10%;
}